.header{
    /* background-image: url('../../../Asset/r.png');
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: right; */

    /* padding-bottom: 3%;
    padding-left: 5%; */
/* margin-left: 40px; */
    /* padding-right: 10%; */
    /* padding-top: 0%;
    background-color: linear-gradient(to right, #00040F , #0B3146); */

}